body {
    font-family: Arial, sans-serif;
    background-color: #001219;
    color: #333;
    margin: 0;
    padding: 0;
}
main {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 10px;
    padding: 10px;
    padding-bottom: 0px;
    background-color: #099396;
    border-top: 2px solid #ee9b01;
    border-bottom: 2px solid #bb3f03;
    border-radius: 8px;
}
h1 {
    text-align: center;
    color: #333;
    background-color: #94d2bd;
    border-top: 2px solid #bb3f03;
    border-bottom: 2px solid #ee9b01;
    border-radius: 8px;
    padding: 10px;
    margin: 0;
}
h2{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: underline #ee9b01;
}
h3{
    margin-left: 20px;
}
.intro {
    width: 700px;
    margin: 20px auto; 
    text-align: center; 
    border-top: 2px solid #bb3f03;
    border-bottom: 2px solid #ee9b01;
    border-radius: 8px;
    padding: 10px;
    color: #333;
}
ul {
    list-style-type: none;
    padding-left: 0;
    margin: 20px;
}
a {
    text-decoration: underline;
    color: #333;
}
.joke1 {
    background-color: #94d2bd;
    color: #9b2227;
}
.joke2 {
    background-color: #9b2227;
    color:#ee9b01;
    border-top: 2px solid #94d2bd;
    border-bottom: 2px solid #bb3f03;
}
.joke3 {
    background-color: #bb3f03;
    color: #94d2bd;
    border-bottom:2px solid #099396;
}
.j1head {
    background-color: #099396;
    color: #9b2227;
}
.j2head {
    background-color: #099396;
    color:#ee9b01;
    border-top: 2px solid #bb3f03;
    border-bottom: 2px solid #94d2bd;
}
.j3head {
    background-color: #9b2227;
    color: #94d2bd;
    border-top: 2px solid #099396;
}
.j1foot {
    background-color: #099396;
    color:#9b2227;
}
.j2foot {
    background-color: #099396;
    color: #ee9b01;
    border-top: 2px solid #94d2bd;
}
.j3foot {
    background-color: #9b2227;
    color: #94d2bd;
}
.j1link a {
    color: #9b2227;
}
.j2link a {
    color: #ee9b01;
}
.j3link a {
    color: #94d2bd;
}
.content {
    margin-top: 20px;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    gap: 20px; 
}
.text {
    max-width: 450px; 
    text-align: left; 
}
.image img {
    max-width: 300px; 
    height: auto; 
    display: block; 
}
footer {
    text-align: right;
    background-color: #94d2bd;
    border-top: 2px solid #ee9b01;
    border-radius: 8px;
    color: #333;
    padding-right: 5px;
    margin-top: 15px;
}
@media (max-width: 600px) {
    body {
        font-size: 14px; 
    }
    main {
        padding: 5px; 
    }
    h1, h2 {
        font-size: 18px; 
    }
    .intro {
        width: 100%; 
    }
    .content {
        flex-direction: column; 
        gap: 10px;
    }
    .text {
        max-width: 100%; 
        text-align: center; 
    }
    .image img {
        max-width: 100%; 
        height: auto; 
    }
}